body {
  background-color: lightblue;
}

#header {
  text-align: center;
}

#submit-name {
  position: absolute;
  left: 200px;
  top: 127px;
}

#submit-password {
  position: absolute;
  left: 200px;
  top: 335px;
}

#username-info {
  text-decoration: underline;
}

#password-info {
  text-decoration: underline;
}

#validation {
  position: absolute;
  left: -12em;
}

#move {
  position: absolute;
  top: 240px;
  
}



#submit {
  font-size: 2em;
  padding: 10px 20px;
  position: absolute;
  left: 35px;
  top: 200px;
  transition: all 0.3s ease;
}
